<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.ust.cse.comp4521.group20.opentoiletandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splashScreen.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".toiletDetail.ToiletDetailActivity"
            android:label="@string/title_activity_toilet_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pathAdvisor.PathAdvisorActivity"
            android:parentActivityName=".toiletDetail.ToiletDetailActivity" />
        <activity
            android:name=".toiletReview.WriteToiletReviewActivity"
            android:label="@string/title_activity_write_toilet_review"
            android:parentActivityName=".toiletDetail.ToiletDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".toiletDetail.ImageActivity"
            android:parentActivityName=".toiletDetail.ToiletDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sos.SendSOSActivity"
            android:label="@string/title_activity_send_sos"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>